 @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    
    
}
.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
  
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 60px;
    text-align: center;
 

    
}

.game-card {
    flex: 0 0 calc(25% - 50px); /* This creates 4 cards per row with some space between */
    max-width: calc(50% - 90px);
    background-color: #ececec !important;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
   
    

    
}

.game-card:hover {
  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.game-img {
    
    width: 90%;
    height: 150px;
    object-fit: cover;
    padding: 5%;
    
}

.game-info {
    padding: 15px;
    flex-grow: 1;
    display: flex;
  
    flex-direction: column;
}

.game-card h3 {
    
    
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    
}

.game-card p {
    
    font-size: 14px;
    color: #666;
    margin: 0 0 10px 0;
    flex-grow: 1;
}

.game-card .backers {
    
   
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
#button-container {
    text-align: center;
}




button{
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
} 

 #search-bar {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
   border: 2px solid rgb(135, 135, 235);
    border-radius: 7px;
    position: relative;
    transition: border-color 0.3s ease-in-out;
}
#search-bar:focus{
    border-color: rgb(110, 191, 202);
    outline: none;
}




